@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container">
	<div class="row">
		@foreach (var item in Model.Products)
		{
			<div class="col-sm-4 mt-3">

				<div class="card" style="width: 18rem;">
					<img src="@item.productImage" class="card-img-top" style="height:220px" alt="This is product images">
					<div class="card-body">
						<h5 class="card-title">@item.productName</h5>
						<button type="submit" class="btn btn-primary">Add to cart</button>
						<a asp-page="./Products/Details" asp-route-id="@item.productID">View Details</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>



