@page
@model PrivacyModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Privacy Policy</title>

    <!-- Liên kết với tệp CSS của Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

 
    <div class="container mt-4 text-center">
        <h1>Privacy Policy</h1>

        <p>Bản quyền này thuộc về Huy Vũ</p>
    </div>

    <!-- Liên kết với tệp JavaScript của Bootstrap (tùy chọn) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
